/* Base styles */

:root {
	font-size: 1em;
	line-height: 1.62
}

/*article,*/
/*section,*/
/*body,*/
body,
ul,
li,
p {
	padding: 0;
	margin: 0;
}

a,
li,
aside,
section {
	position: relative
}

html {
	font-family: 'Roboto', sans-serif;
	color: #222;
	background: #e6ecf2;
}

body {
	padding: 0.225rem 0.225rem;
	background: #ffffff;
	cursor: default;
}

body * {
	box-sizing: border-box
}

a, header li, section > aside {
	cursor: pointer;
}

li {
	list-style: none;
}

header li {
	background-color: #4a0594;
	overflow: hidden;
}

header li:before  {
	display: block;
	content: "";
	position: absolute;
	text-indent: -9999px;
	/*box-sizing: border-box;*/
	width: 3rem;
	height: 3rem;
	top: 1.25rem;
	right: 1rem;
	background-size: 100% 100%;
}

header li:hover:before {
	top: -8rem;
	right: -2rem;
	width: 20rem;
	height: 20rem;
	transform: rotate(20deg);
}

header li:nth-child(1):before {
	background-image: url(assets/icons/custom/comment.svg);
}

header li:nth-child(2):before {
	background-image: url(assets/icons/custom/warning.svg);
}

header li:nth-child(3):before {
	background-image: url(assets/icons/custom/refresh.svg);
}

header li:nth-child(4):before {
	background-image: url(assets/icons/custom/star.svg);
}

header li a {
	display: block;
	color: #fff;
}

header li:hover {
	/*background-color: #5a39a7;*/
	background-color: #58329e;
}

section {
	box-sizing: border-box;
	border-left: 0.32rem solid #5a39a7;
	box-shadow: inset 0 0 0 .08rem #e6ecf2;
	padding: 0.6425rem 1.425rem 0.825rem;
	margin: 1rem auto;
}
section:hover {
	box-shadow: inset 0 0 0 .08rem #5a39a7;
	border-left-width: 0.675rem;
}
section[data-type="blocked"], section[data-type="disabled"] {
	border-left-color: #e6ecf2;
}
section[data-type="blocked"]:hover {
	box-shadow: inset 0 0 0 .08rem #c7ced6;
	border-left-width: 1rem;
	border-left-color: #c7ced6;
	cursor: wait;
}
section[data-type="disabled"]:hover {
	box-shadow: inset 0 0 0 .08rem #e6ecf2;
	border-left-width: 0.48rem;
	/*border-left-color: #c7ced6;*/
}
section > header > p {
	/*font-size: 1.24rem;*/
}

section > header > p > span {
	/*font-size: .86rem;*/
	color: #bbbcc4;
	padding-left: 0.425rem;
}

section > header > p > span:not(:first-child):before {
	display: inline;
	content: "•";
	padding-right: 0.425rem;
}

section > header > p > span:first-child {
	font-weight: bold;
	padding-left: 0;
	color: #222222;
}
section[data-type="disabled"] > header > p > span:first-child {
	color: #bbbcc4; 
}
section > ul {
	margin: 0.550rem 0;
}
section > ul > li {
	padding: 0.145rem 0.725rem 0.145rem 1.725rem;
	margin-right: 0.725rem;
}
section > ul > li[data-type="syncronized"][data-value="true"] {
	border: .08rem solid #5a39a7;
	background-color: #5a39a7;
	color: #ffffff;
	display: inline-block;
}
section > ul > li:before {
	display: block;
	content: "";
	position: absolute;
	text-indent: -999rem;
	/*box-sizing: border-box;*/
	width: 1rem;
	height: 1rem;
	top: 0.275rem;
	left: 0.45rem;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/check.svg);
}
section > ul > li[data-type="syncronized"][data-value="true"]:before {
	background-image: url(assets/icons/custom/check-reversed.svg);
}
section > ul > li[data-type="syncronized"][data-value="false"]:before {
	background-image: url(assets/icons/custom/autorenew.svg);
	-webkit-animation: rotation 2s linear infinite;
	-o-animation: rotation 2s linear infinite;
	animation: rotation 2s linear infinite;
}
section > aside {
	position: absolute;
	top: 1em;
	right: 1.325rem;
	width: 1.625rem;
	height: 1.625rem;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/navigation.svg);
}
section > aside:hover {
	background-image: url(assets/icons/custom/navigation-active.svg);
}
section > aside > a {
	font-size: 0;
	color: transparent;
}
section > aside, section > aside > ul > li a, section > aside > a {
	display: inline-block;
}
section > aside > ul {
	display: none;
	position: absolute;
	top: 2.25rem;
	right: -0.625rem;
}
section > aside > ul {
	background-color: #fff;
	border: 0.08rem solid #e8e8e8;
	border-radius: 0.24rem;
	color: #333;
	/*     display: inline-block; */
	/*     font: 16px/24px sans-serif; */
	padding: 1rem 1rem; 
	/*position: relative;*/
}
section > aside > ul:after,
section > aside > ul:before {
	border-left: 0.825rem solid transparent;
	border-right: 0.825rem solid transparent;
	border-bottom: 0.825rem solid #fff;
	top: -0.750rem;
	margin-left: 0.825rem;
	content: '';
	left: 50%;
	position: absolute;
}
section > aside > ul:before {
	border-left: 0.835rem solid transparent;
	border-right: 0.835rem solid transparent;
	border-bottom: 0.835rem solid;
	border-bottom-color: inherit;
	top: -0.835rem;
	margin-left: 0.835rem;
}

section > aside:hover > ul {
	display: inline-block;
}
section > aside > ul > li {
	display: block;
}
section > aside > ul > li a:hover {
	color: #5a39a7;
}

section > footer:after {
	content: "";
	display: table;
	clear: both;
}
section > footer > p {
	float: left;
}

section > footer > p > span {
	color: #bbbcc4;
}
section > footer > p > span[data-type="rating"][data-value="true"] {
	color: #ffaa30
}
section > footer > p > span[data-type="rating"][data-value="true"]:before {
	display: inline-block;
	content: "";
	position: relative;
	text-indent: -999rem;
	width: 1.225rem;
	height: 1.225rem;
	top: 0.300rem;
	left: 0;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/star-enabled.svg);
}
section > footer > p > span[data-type="rating"][data-value="false"]:before {
	display: inline-block;
	content: "";
	position: relative;
	text-indent: -999rem;
	width: 1.225rem;
	height: 1.225rem;
	top: 0.300rem;
	left: 0;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/star-disabled.svg);
}
section > footer > p > span[data-type="information"]:not(:first-child) {
	color: #222222;
	padding-left: 0.425rem;
}
section > footer > p > span[data-type="information"]:not(:first-child):before {
	display: inline;
	content: "•";
	padding-right: 0.425rem;
}
section > footer > p > span[data-type="loading"]:after {
	display: inline-block;
	content: "...";
}
section > footer > aside {
	float: right;
	display: inline-block;
}
section > footer > aside[data-type="update-available"] {
	color: #694caf;
	padding: 0.225rem 0.725rem 0.225rem 1.725rem;
	margin-bottom: -0.450rem;
}
/*section > footer > aside[data-type="update-available"]:before {
	display: block;
	content: "";
	position: absolute;
	text-indent: -999rem;
	width: 1rem;
	height: 1rem;
	top: 0.345rem;
	left: 0.45rem;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/notifications.svg);
}*/
section > footer > aside[data-type="action-required"] {
	color: #ffffff;
	background-color: #ffaa30;
	padding: 0.225rem 0.725rem 0.225rem 1.725rem;
	margin-bottom: -0.450rem;
}
section > footer > aside[data-type="action-required"]:before {
	display: block;
	content: "";
	position: absolute;
	text-indent: -999rem;
	/*box-sizing: border-box;*/
	width: 1rem;
	height: 1rem;
	top: 0.345rem;
	left: 0.45rem;
	background-size: 100% 100%;
	background-image: url(assets/icons/custom/notifications.svg);
}

/*section > div > span {
	display: inline-block;
	border: .08rem solid #e6ecf2;
	padding: .24rem .48rem;
}*/

/* Repeated styles */

body, section, section > div > span, li, section > footer > aside  {
	border-radius: 0.24rem;
}

/* Animation */

@-webkit-keyframes rotation {
	0% {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

header li, header li:before, section {
	transition: .22s;
}

/* Mobile first */

body {
	font-size: 0.750em;
}

@media (min-width:0rem) and (max-width:32rem) {
	section > footer > aside[data-type="action-required"] {
		font-size: 0;
		line-height: 1.375rem;
		padding-left: 1rem;
		padding-right: .875rem;
	}
	section > footer > aside[data-type="update-available"] {
		font-size: 0;
		line-height: 1.325rem;
		padding-left: 1rem;
		padding-right: .875rem;
		background-color: #694caf;
	}
/*	section > footer > aside[data-type="update-available"] {
		color: #694caf;
		background-color: #ffaa30;
		padding: 0.225rem 0.725rem 0.225rem 1.725rem;
		margin-bottom: -0.450rem;
	}*/
	section > footer > aside[data-type="update-available"]:before {
		display: block;
		content: "";
		position: absolute;
		text-indent: -999rem;
		width: 1rem;
		height: 1rem;
		top: 0.375rem;
		left: 0.45rem;
		background-size: 100% 100%;
		background-image: url(assets/icons/custom/settings.svg);
	}
}

/*@media (min-width:20rem) and (max-width:48rem) {

}*/

/*@media (min-width:48rem) and (max-width:64rem) {

}*/

/*@media (min-width:64rem) and (max-width:90rem) {

}*/

@media (min-width:20rem) {

	/* 320 and above */
	body {
		margin: 0em;
		font-size: 0.775em;
		/*padding: 1rem 2rem;*/
	}

	body > header li {
		margin-bottom: 0.450rem;
	}
	body > header li:last-child {
		margin-bottom: 0;
	}
	body > header li:before {
		width: 2rem;
		height: 2rem;
		top: 1rem;
		right: 1rem;
	}

	

	body > header li a {
		padding: 1.225rem 1.48rem 1.225rem;
	}
	body > header li a span:last-child {
		/*padding: 1.225rem 1.48rem 0.625rem;*/
		float: left;
		padding-right: 1rem;
		font-weight: bold;
	}

}

@media (min-width:28rem) {

	/* 384 and above */
	body {
		margin: 0em;
		font-size: 0.825em;
		padding: 0.675rem 1.225rem;
	}
	section > header > p br {
		display: none;
	}


}

@media (min-width:38rem) {
	body {
		margin: 0.675em;
		font-size: 0.825em;
		padding: 1rem 2rem;
	}
	body > header ul {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		height: 100%;
	}
	body > header li {
		width: calc(50% - 0.250rem);
		margin-bottom: 0.200rem;
	}
	body > header li:nth-child(even) {
		margin-left: 0.450rem;
	}
	section {
		padding: 0.8125rem 2rem 1.125rem;
		border-left: 0.48rem solid #5a39a7;
	}
	section > header > p > span {
		padding-left: 0.725rem;
	}

	section > header > p > span:not(:first-child):before {
		padding-right: 0.725rem;
	}
	section > footer > p > span[data-type="information"]:not(:first-child) {
		padding-left: 0.725rem;
	}
	section > footer > p > span[data-type="information"]:not(:first-child):before {
		padding-right: 0.725rem;
	}
}

@media (min-width:48rem) {

	/* 768 and above */
	body {
		margin: 1em;
		padding: 1.625rem 3.475rem;
		/*background-color: red;*/
	}
	body > header li {
		width: calc(50% - 0.250rem);
		margin-bottom: 0.450rem;
	}
	body > header li:before  {
		width: 3rem;
		height: 3rem;
		top: 1.25rem;
		right: 1rem;
	}
	body > header li:nth-child(even) {
		margin-left: 0.450rem;
	}
	body > header li a span:last-child {
		position: absolute;
		float: none;
		padding-right: 0;
		font-weight: normal;
	}
	body > header li a {
		padding: 3.08rem 1.48rem 1.12rem;
	}
	body > header li a span:last-child {
		top: 0.82rem;
		left: 1.48rem;
		font-size: 1.64rem;
	}
	section > header > p > span:first-child {
		font-weight: normal;
		font-size: 1rem;
	}
	section > ul {
		display: flex;
		/*flex: wrap;*/
		/*height: 100%;*/
	}
	section > ul > li {
		border: .08rem solid #e6ecf2;
	}

}


@media (min-width:64rem) {

	/* !1024 and above */
	body {
		margin: 1.425em;
		padding: 2rem 4rem;
	}
	body > header ul {
		display: flex;
		align-items: flex-start;
		flex-wrap: nowrap;
		height: 100%;
	}
	body > header li {
		width: 100%;
		margin: 0.225rem;
	}
	body > header li:first-child {
		margin-left: 0;
	}
	body > header li:last-child {
		margin-right: 0;
	}
	body > header li a {
		padding: 3.08rem 1.48rem 1.12rem;
	}
	body > header li a span:last-child {
		top: 0.82rem;
		left: 1.48rem;
		font-size: 1.64rem;
	}
	section:hover {
		border-left-width: 1rem;
	}
	section > header > p > span:first-child {
		/*font-size: .86rem;*/
		/*color: #222222;*/
		font-size: 1rem;
	}

}

@media (min-width:80rem) {

	/* 1280 and above */
	body {
		margin: 1.2rem;
		font-size: 1em;
	}

}

@media (min-width:90rem) {

	/* 1440 and above */

}


@media (min-width:120rem) {

	/* 1920 and above */

}


@media (min-width:160rem) {

	/* 2560 and above */

}